/* VARIABLES */
:root {
	--ff-body: "Montserrat", sans-serif;
	--ff-heading: "Comic Neue", cursive;

	--clr-primary: #99dc4b;
	--clr-secondary: #e2ebdd;
	--clr-red: #ce1608;
	--clr-light: #ffffff;
	--clr-dark: #1d1803;
	--clr-grey: #525252;
	--clr-overlay: rgba(0, 0, 0, 0.6);

	--font-size-h1: 4.5rem;
	--font-size-h2: 2rem;
	--font-size-p: 1.25rem;

	--box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	--border-radius: 8px;
}

/* GENERAL STYLES */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: var(--ff-body);
	background: var(--clr-secondary);
}

h1 {
	font-family: var(--ff-heading);
	font-size: var(--font-size-h1);
	text-align: center;
	padding: 1rem 0;
}

h2 {
	font-size: var(--font-size-h2);
	margin: 1rem 0;
	text-align: center;
	letter-spacing: 5px;
}

p {
	font-size: var(--font-size-p);
}

button {
	display: inline-block;
	cursor: pointer;
	font-size: var(--font-size-p);
	font-family: inherit;
	background: var(--clr-dark);
	color: var(--clr-light);
	border: none;
	padding: 0.5em 2.5em;
	border-radius: var(--border-radius);
	transition: all 0.2s ease;
}

button:hover {
	background: var(--clr-grey);
	transform: scale(1.1);
}

/* LAYOUT */
.wrapper {
	max-width: 55rem;
	width: 80%;
	margin: 1.5rem auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: var(--border-radius);
	background: var(--clr-primary);
	box-shadow: var(--box-shadow);
}

/* SECTIONS */
.top-paragraph {
	padding-bottom: 0.25rem;
	border-bottom: 1px solid var(--clr-dark);
	color: var(--clr-red);
	font-weight: 700;
}

.board {
	background: var(--clr-light);
	border: 1px solid var(--clr-dark);
	width: 90%;
	margin: 2rem;
}

/* --Board Buttons-- */
.board-buttons {
	margin: 0 0 2rem;
	padding: 0 1rem;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	gap: 2rem;
}

.board-buttons #size-btn {
	background: var(--clr-grey);
}

.board-buttons #size-btn:hover {
	background: var(--clr-dark);
}

/* --Input Modal-- */
.modal-box .overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--clr-overlay);
	z-index: 1;
	display: none;
}

.modal-box .content {
	background: var(--clr-secondary);
	border-radius: var(--border-radius);
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	max-width: 300px;
	padding: 2rem;
	transform: translate(-50%, -50%) scale(0);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: all 0.25s ease-in-out;
}

.modal-box p {
	color: var(--clr-red);
	font-weight: 700;
}

.modal-box input {
	font-size: var(--font-size-p);
	background: var(--clr-light);
	width: 100%;
	margin: 1rem 0;
	border: 1px solid var(--clr-dark);
	border-radius: var(--border-radius);
	padding: 0.5rem;
}

.modal-box input::-webkit-inner-spin-button,
.modal-box input::-webkit-outer-spin-button {
	appearance: none;
	-moz-appearance: textfield;
}
/* JS Classes */
.grid-row {
	display: flex;
}

.modal-box.active .overlay {
	display: block;
}

.modal-box.active .content {
	transform: translate(-50%, -50%) scale(1);
}

/* Media Queries */
@media only screen and (max-width: 760px) {
	:root {
		--font-size-h1: 4rem;
		--font-size-h2: 1.75rem;
		--font-size-p: 1rem;
	}
}

@media only screen and (max-width: 580px) {
	:root {
		--font-size-h1: 3.5rem;
		--font-size-h2: 1.5rem;
		--font-size-p: 0.8rem;
	}
}

@media only screen and (max-width: 480px) {
	:root {
		--font-size-h1: 3rem;
		--font-size-h2: 1.25rem;
		--font-size-p: 0.7rem;
	}
}
